* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #4e657a;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #394f62c1;
    padding-left: 7rem;
    height: 15vh;
}

.navbar-brand {
    color: white;
    float: inline-start;
    font-size: 150%;
    padding-top: 1rem;
    padding-right: 5rem;
    margin-left: 5rem;
}

#navb {
    font-size: 150%;
    margin: 0rem 10rem;
}

.navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 7rem;
}

.nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.nav-item a {
    font-size: 50%;
    color: white;
    text-decoration: none;

}

.nav-item p {
    font-size: 50%;

}

.nav-item i {
    padding-bottom: 1rem;
    text-align: center;
}

#admin {
    font-size: 100%;
}

.dropdown-menu a:hover {

    background-color: #394f62;
}

.dropdown-menu a {
    font-size: 1rem;
}

.welcome {
    background-color: #4e657a;
}

.content {
    font-size: 1rem;
    color: white;
    padding: 3rem 0rem 3rem 9rem;
}

.four {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;

}

.graph {
    background-color: #394f62;
    width: 40%;
    margin-bottom: 1rem;
    padding: 1rem;
    color: white;
}

.orders {
    height: 21rem;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: lightgrey #435c70;
}

.girls {
    background-color: #4e657a;
    display: flex;
    align-items: center;
    gap: 2rem;
    margin: 1rem 2rem;
}

.girls span {
    color: orange;
}

.notif {
    padding: 6px 0px 6px 0px;

}

.girls img {
    padding-left: 1rem;
    border-radius: 50%;
}

.order-list {
    background-color: #394f62;
    margin: 0rem 9rem;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: lightgrey #435c70;
    height: 28rem;

}

.ol h4 {
    color: white;
    padding: 3rem 0rem 2rem 4rem;
}

.three {
    margin: 0rem 3rem 3rem 3rem;
}

.table {
    padding-top: 2rem;
}

.table th {
    background-color: #2634410f;
    color: white;
    padding: 1rem;
}

.table td {
    background-color: #4e657a;
    color: white;
    padding: 1rem;
}

.footer {
    background-color: #567086;
    color: white;
    padding: 2rem 0rem 1rem 0rem;
    text-align: center;
    font-size: 1rem;
}

.Avatar {
    background-color: #394f62;
    margin: 3rem 8rem;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 3rem;
    color: white;
}

select {
    padding: 1rem 32rem;
    outline: 3px solid cornflowerblue;
    background-color: #4e657a;
    color: white;
}

.account-settings {
    display: flex;
}

.profile {
    background-color: #394f62;
    height: 70vh;
    padding: 3rem;
    color: white;
    margin: 0rem 2rem 0rem 8rem;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0rem;
}

.profile button {
    padding: 1rem 5rem;
    margin-left: 8px;
    background-color: #f5a623;
    border: #f5a623;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    outline: 3px solid cornflowerblue;
}

.setting {
    padding: 1rem 2rem;
}

.details {
    background-color: #394f62;
    color: white;
    margin-right: 8rem;
}

.details h5 {
    padding: 3rem 0rem 0rem 3rem;
}

.acc {
    display: flex;
    flex-wrap: wrap;
    padding-left: 3rem;
}

.acc input {
    padding: 1rem 45px;
    background-color: #54657d;
    border: none;
    outline: none;
}

.update {
    padding: 4rem 0rem 0rem 2rem;
}

.update button {
    padding: 1rem 3rem;
    background-color: #f5a623;
    border: #f5a623;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    outline: 3px solid cornflowerblue;
}

.delete {
    padding: 1rem 0rem 3rem 2rem;
}

.delete button {
    padding: 1rem 13rem;
    margin-left: 8px;
    background-color: #f5a623;
    color: white;
    border: #f5a623;
    font-weight: bold;
    font-size: 1rem;
    outline: 3px solid cornflowerblue;
}

.navbar-brand:hover {
    color: white;
}

.name {
    font-weight: bold;
    color: #394f62;
}

.nav-item a:hover,
.nav-item i:hover,
.nav-item p:hover {
    color: #f5a623 !important;
    cursor: pointer;
}

.account-settings button:hover,
form button:hover {
    background-color: #394f62;
    outline: 3px solid #f5a623;
    color: #f5a623;
}

.acc input:active,
form input:active {
    outline: 1px solid cornflowerblue;
}

.girls span:hover {
    color: #007bff;
    cursor: pointer;
}

.name:hover {
    color: white;
    cursor: pointer;
}

.page-one {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}

.login form {
    background-color: #394f62;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 3rem;

}

form input {
    width: 100%;
    padding: 1rem 0rem;
    background-color: #567086;
    border: none;
    color: #f5a623;
    font-size: 1rem;
    outline: none;
}

form label {
    padding: 1rem 0rem;
}

form button {
    padding: 1rem 6rem;
    background-color: #f5a623;
    color: white;
    border: #f5a623;
    font-weight: bold;
    font-size: 1rem;
    outline: 3px solid cornflowerblue;
}


@media (min-width:320px) and (max-width:425px) {
    body {
        background-color: #4e657a;
        overflow-x: hidden;
    }

    .navbar {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #394f62c1;
        width: 100vw;
    }

    .navbar-brand {
        color: white;
        font-size: 1rem;
        margin-right: -9rem;
        margin-left: -3rem;
        padding-top: 1rem;
    }

    .navbar-nav {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #394f62;
    }

    .nav-item {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: -3rem;
    }

    #navb {
        margin-left: 0rem;
        margin-top: 3rem;
    }

    #db {
        margin-bottom: -2rem;
    }

    .nav-item a {
        font-size: 35%;
        color: white;
        text-decoration: none;
    }

    .nav-item p {
        font-size: 40%;

    }

    .nav-item i {
        text-align: center;
    }

    #admin {
        font-size: 75%;
        margin-top: -3rem;
    }

    #hambar {
        margin-left: 15rem;
        margin-top: -4rem;
    }

    .dropdown-menu a:hover {
        background-color: #394f62;
    }

    .welcome {
        background-color: #4e657a;
    }

    .content {
        font-size: 1rem;
        color: white;
        padding-left: 1rem;
    }

    .four {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        column-gap: 1rem;

    }

    .graph {
        background-color: #394f62;
        width: 40%;
        margin-bottom: 1rem;
        padding: 1rem;
        color: white;
        flex-wrap: wrap;
        width: 100%;
    }

    .orders {
        height: 21rem;
        overflow-y: scroll;
        scrollbar-width: thin;
        scrollbar-color: lightgrey #435c70;
    }

    .girls {
        background-color: #4e657a;
        display: flex;
        align-items: center;
        gap: 2rem;
        margin: 1rem 2rem;
    }

    .girls span {
        color: orange;
    }

    .notif {
        padding: 6px 0px 6px 0px;

    }

    .girls img {
        padding-left: 1rem;
        border-radius: 50%;
    }

    .order-list {
        background-color: #394f62;
        overflow-y: scroll;
        scrollbar-width: thin;
        scrollbar-color: lightgrey #435c70;
        height: 28rem;
        width: 100%;
        margin-left: -1rem;
    }

    .table {
        padding-top: -2rem;
        width: 100%;
    }

    .table th {
        background-color: #2634410f;
        color: white;
        padding: 1rem;
    }

    .table td {
        background-color: #4e657a;
        color: white;
        padding: 1rem;
    }

    .footer {
        background-color: #567086;
        color: white;
        padding: 2rem 0rem 1rem 0rem;
        text-align: center;
        font-size: 70%;
        width: 100%;
    }

    .Avatar {
        background-color: #394f62;
        margin: 0rem;
        width: 100vw;
    }

    .list {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 3rem;
        color: white;
    }

    select {
        padding: 1rem 5rem;
        background-color: #4e657a;
        color: white;
    }

    .account-settings {
        display: flex;
        flex-wrap: wrap;
    }

    .profile {
        background-color: #394f62;
        height: 70vh;
        color: white;
        width: 100vw;
        margin-left: 0rem;
    }

    .image {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 85%;
    }

    .profile button {
        padding: 1rem 3rem;
        background-color: #f5a623;
        border: #f5a623;
        color: white;
        font-weight: bold;
        font-size: 65%;
        margin-bottom: -9rem;
        margin-top: -5rem;
    }

    .setting {
        padding: 1rem 2rem;
    }

    .account-settings {
        width: 100vw;
        display: flex;
        flex-wrap: wrap;
    }

    .details {
        background-color: #394f62;
        color: white;
        margin-right: 8rem;
    }

    .details h5 {
        padding: 3rem 0rem 0rem 3rem;
    }

    .acc {
        display: flex;
        flex-wrap: wrap;
        padding-left: 3rem;
    }

    .acc input {
        padding: 1rem 2rem;
        background-color: #54657d;
        border: none;
        outline: none;
        margin-left: -2rem;
    }

    .update {
        margin-left: -2rem;
        margin-top: -3rem;
    }

    .update button {
        padding: 1rem 2rem;
        background-color: #f5a623;
        border: #f5a623;
        color: white;
        font-weight: bold;
        font-size: 1rem;
        outline: 3px solid cornflowerblue;

    }

    .delete {
        margin-left: -2rem;
        padding-left: 8%;
    }

    .delete button {
        padding: 1rem 2rem;
        background-color: #f5a623;
        color: white;
        border: #f5a623;
        font-weight: bold;
        font-size: 1rem;
        outline: 3px solid cornflowerblue;
    }

    .navbar-brand:hover {
        color: white;
    }

    .name {
        font-weight: bold;
        color: #394f62;
    }

    .nav-item a:hover,
    .nav-item i:hover,
    .nav-item p:hover {
        color: #f5a623 !important;
        cursor: pointer;
    }

    .account-settings button:hover,
    form button:hover {
        background-color: #394f62;
        outline: 3px solid #f5a623;
        color: #f5a623;
    }

    .acc input:active,
    form input:active {
        outline: 1px solid cornflowerblue;
    }

    .girls span:hover {
        color: #007bff;
        cursor: pointer;
    }

    .name:hover {
        color: white;
        cursor: pointer;
    }

    .page-one {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 3rem;
        width: 100%;

    }

    .login form {
        background-color: #394f62;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        color: white;
        padding: 3rem;
        width: 100%;

    }

    form input {
        padding: 1rem 0rem;
        background-color: #567086;
        border: none;
        color: #f5a623;
        font-size: 1rem;
        outline: none;
    }

    form button {

        padding: 5% 5rem;
        background-color: #f5a623;
        color: white;
        border: #f5a623;
        font-weight: bold;
        font-size: 75%;
        outline: 3px solid cornflowerblue;
    }
}

@media (min-width:426px) and (max-width:1024px) {
    body {
        background-color: #4e657a;
        overflow-x: hidden;
    }

    .navbar {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #394f62c1;
        width: 100vw;

    }

    .navbar-brand {
        color: white;
        font-size: 150%;
        margin-right: -9rem;
        margin-left: -3rem;
        padding-top: 1rem;
    }

    .navbar-nav {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #394f62;
    }

    .nav-item {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: -40px;
    }

    .nav-item a {
        font-size: 35%;
        color: white;
        text-decoration: none;

    }

    .nav-item p {
        font-size: 40%;

    }

    .nav-item i {
        text-align: center;
    }

    #admin {
        font-size: 75%;
        margin-top: -3rem;
    }

    .dropdown-menu a:hover {
        background-color: #394f62;
    }

    .welcome {
        background-color: #4e657a;
    }

    .content {
        font-size: 1rem;
        color: white;
        padding-left: 1rem;
    }

    .four {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        column-gap: 1rem;

    }

    .graph {
        background-color: #394f62;
        width: 40%;
        margin-bottom: 1rem;
        padding: 1rem;
        color: white;
        flex-wrap: wrap;
        width: 100%;
    }

    .orders {
        height: 21rem;
        overflow-y: scroll;
        scrollbar-width: thin;
        scrollbar-color: lightgrey #435c70;
    }

    .girls {
        background-color: #4e657a;
        display: flex;
        align-items: center;
        gap: 2rem;
        margin: 1rem 2rem;
    }

    .girls span {
        color: orange;
    }

    .notif {
        padding: 6px 0px 6px 0px;

    }

    .girls img {
        padding-left: 1rem;
        border-radius: 50%;
    }

    .order-list {
        background-color: #394f62;
        overflow-y: scroll;
        scrollbar-width: thin;
        scrollbar-color: lightgrey #435c70;
        height: 28rem;
        width: 100%;
        margin-left: -1rem;
    }

    .ol h4 {
        color: white;
        padding: 3rem 0rem 2rem 4rem;
    }

    .table {
        padding-top: 2rem;
        width: 100%;
    }

    .table th {
        background-color: #2634410f;
        color: white;
        padding: 1rem;
    }

    .table td {
        background-color: #4e657a;
        color: white;
    }

    .footer {
        background-color: #567086;
        color: white;
        padding: 2rem 0rem 1rem 0rem;
        text-align: center;
        font-size: 100%;
        width: 100%;
    }

    .Avatar {
        background-color: #394f62;
        margin: 3rem 8rem;
    }

    .list {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 3rem;
        color: white;
    }

    select {
        padding: 1rem 5rem;
        outline: 3px solid cornflowerblue;
        background-color: #4e657a;
        color: white;
    }

    .account-settings {
        display: flex;
        margin-left: -7rem;
        width: 100%;
    }

    .profile {
        background-color: #394f62;
        height: 77vh;
        padding: 3rem;
        color: white;
        margin: 0rem 2rem 0rem 8rem;
        width: 45vw;

    }

    .image {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem 0rem;
        margin-bottom: -1rem;

    }

    .profile button {
        padding: 1rem 6rem;
        background-color: #f5a623;
        border: #f5a623;
        color: white;
        font-weight: bold;
        font-size: 45%;
        outline: 3px solid cornflowerblue;
    }

    .setting {
        padding: 1rem 2rem;
    }

    .details {
        background-color: #394f62;
        color: white;
        margin-left: -1rem;
        width: 50%;
    }

    .details h5 {
        padding: 3rem 0rem 0rem 3rem;
    }

    .acc {
        display: flex;
        flex-wrap: wrap;
        padding-left: 3rem;
    }

    .acc input {
        padding: 1rem 45px;
        background-color: #54657d;
        border: none;
        outline: none;
    }

    .update {
        margin-top: -2rem;
    }

    .update button {
        padding: 1rem 3rem;
        background-color: #f5a623;
        border: #f5a623;
        color: white;
        font-weight: bold;
        font-size: 1rem;
        outline: 3px solid cornflowerblue;
    }

    .delete {
        margin-left: -2%;
    }

    .delete button {
        padding: 1rem 3rem;
        margin-left: 8px;
        background-color: #f5a623;
        color: white;
        border: #f5a623;
        font-weight: bold;
        font-size: 1rem;
        outline: 3px solid cornflowerblue;
    }

    .navbar-brand:hover {
        color: white;
    }

    .name {
        font-weight: bold;
        color: #394f62;
    }

    .nav-item a:hover,
    .nav-item i:hover,
    .nav-item p:hover {
        color: #f5a623 !important;
        cursor: pointer;
    }

    .account-settings button:hover,
    form button:hover {
        background-color: #394f62;
        outline: 3px solid #f5a623;
        color: #f5a623;
    }

    .acc input:active,
    form input:active {
        outline: 1px solid cornflowerblue;
    }

    .girls span:hover {
        color: #007bff;
        cursor: pointer;
    }

    .name:hover {
        color: white;
        cursor: pointer;
    }

    .page-one {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 3rem;
        width: 100%;

    }

    .login form {
        background-color: #394f62;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        color: white;
        padding: 3rem;
        width: 100%;

    }

    form input {
        padding: 1rem 0rem;
        background-color: #567086;
        border: none;
        color: #f5a623;
        font-size: 1rem;
        outline: none;
    }

    form button {

        padding: 5% 5rem;
        background-color: #f5a623;
        color: white;
        border: #f5a623;
        font-weight: bold;
        font-size: 75%;
        outline: 3px solid cornflowerblue;
    }
}
